@font-face {
  font-family: "digital-7";
  src: url("../assets/fonts/digital-7.ttf");
}

.screen {
  display: block;
  font-family: "digital-7", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 3.5rem;
  border: none;
  height: 30px;
  background: #cadaf2;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}
